<title>Quarto</title>
<link rel="stylesheet" href="style/style.css" type="text/css">
<link rel="stylesheet" href="style/loading.css" type="text/css">
<script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
<script defer src="js/socket_rooms.js"></script>