<title>Quarto</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="style/base.css" type="text/css">
<link rel="stylesheet" href="style/header.css" type="text/css">
<link rel="stylesheet" href="style/footer.css" type="text/css">
<link rel="stylesheet" href="style/button19.css" type="text/css">
<link rel="stylesheet" href="style/loading.css" type="text/css">
<script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>