<div class="background-plan_opacity">
    <form  id="form-nickname" class="nickname">
        <label for="nickname">Entre ton pseudo</label>
        <input name="nickname" type="text" spellcheck="false" required value="">
        <button type="submit" class="button-19" class="submit-nickname">Valider</button>
    </form>
</div>



