<div class="background-plan_opacity">
    <form id="form-nicknames" class="nickname">
        <label for="nickname1">Pseudo joueur 1</label>
        <input name="nickname1" type="text" spellcheck="false" required>
        <label for="nickname2">Pseudo joueur 2</label>
        <input name="nickname2" type="text" spellcheck="false" required>
        <button class="button-19" class="submit-nickname" onsubmit="()=>{localStorage.setItem('nickname1', this.value); localStorage.setItem('nickname2', this.value)}">Valider</button>
    </form>
</div>



