<div id="règles_jeu" class="règles centre">
    <div>Mode classique :</div>
    <div>Un joueur fait QUARTO et gagne la partie lorsque, en plaçant la pièce donnée,</div>
    <div>il crée une ligne verticale, horizontale ou diagonale avec</div>
    <div>4 pièces ayant au moins 1 caractère en commun (taille, forme, color, percée ou non)</div>
    <br>
    <div>Mode expert :</div>
    <div>4 pièces ayant au moins 1 caractère en commun formant un carré permet également de gagner</div>
</div>