*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Times, "Times New Roman", Georgia, serif;
    color: black;
    font-size: 4vmin;
    font-weight: bold;
    cursor: default;
    background-color: green;
    background-image: url("../images/green_texture.png");
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.static{
    position: static;
    transform:translate(0,0);
}


#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}

#messages > li:nth-child(even) {
    background: #eb8989;
}

fieldset {
    width: fit-content;
}

a {
    color: black;
}

.text-decoration-none {
    text-decoration: none;
}

form {
    text-align: center;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.right-center-header{

}

#mode {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visibility-hidden{
    visibility: hidden;
}


form.nickname {
    position: relative;
    z-index: 1;
    margin: 5% auto;
    min-height: 110px;
    max-width: 500px;
    padding: 24px 24px 0 24px;
    outline: 0;
    background-color: #1899D6;
    font-family: din-round, sans-serif;
    color: #FFFFFF;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    display: flex;
    flex-direction: column;
}

form.nickname > * {
    margin-block: 10px;
}

.background-plan_opacity {
    display: none;
    position: absolute;
    z-index: 7;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    background-color: rgb(250, 252, 175, 0.5);
}

.submit-nickname{
    width: fit-content;
    margin:10px auto;
}
