#loader{
    z-index:5;
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#gif_loading{
    width: 50vw;
    height: 50vw;
    left:0;
    right: 0;
    margin: 0 auto;
}




