#loader{
    z-index:5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    background-color: green;
    background-image: url("../images/green_texture.png");
}

#gif_loading{
    width: 50vmin;
    height: 50vmin;
    object-fit: contain;
}





