<!DOCTYPE html>
<html lang="fr">>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    Cette partie est complète
      <a href="/"><button>return menu</button></a>
  </body>
</html>