<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
    <script defer src="js/socket_rooms.js"></script>
    <script defer src="js/rules.js"></script>
</head>
<body>
<header>
    <div id="gauche_header">QUARTO!
        <div id="bouton_règles" class="règles button-19">Règles</div>
    </div>
    <div id="centre_header">
        <div id="nickname">Bienvenue au QUARTO!</div>
        <div class="choix_nickname centre">
            <label for="username">Pseudo :</label>
            <input type="text" name="nicknameJ1" id="username" spellcheck="false"
                   oninput="localStorage.setItem('nickname', this.value);">
        </div>
    </div>
    <%- include('../partials/rules'); %>
</header>
<main>
    <div id="mode">
        Mode :
        <span><input type="radio" id="classic" name="mode" value="classique" checked> <label
                    for="classic">Classique</label></span>
        <span><input type="radio" id="expert" name="mode" value="expert"> <label for="expert">Expert</label></span>
    </div>
    <button class="button-19" id="join_public">Jouer une partie publique</button>
    <button class="button-19" id="create_local">Jouer une partie locale</button>
    <button class="button-19" id="create_private">Créer une partie pivée</button>
    <form>
        <input id="room" type="text" oninput="this.value = this.value.toUpperCase()">
        <button class="button-19" type="submit" id="join_private"><label for="room">Rejoindre une partie privée</label></button>
    </form>
</main>
<%- include('../partials/footer'); %>
</body>
</html>