<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <div id="gauche_header">QUARTO!<div id="bouton_règles" class="règles">Règles</div></div>
      <div id="centre_header">
          <div id="pseudo">Bienvenue au QUARTO!</div> 
          <div class="choix_pseudo centre">
              <label for="username">Pseudo:</label>
              <input type="text" name="pseudoJ1" id="username" spellcheck="false" oninput="localStorage.setItem('nickname', this.value);">
          </div>
      </div>
    </header>
    <main>
      <div id="mode">
        Mode:
        <span><input type="radio" id="classic" name="mode" value="classique" checked> <label for="classic">Classique</label></span>
        <span><input type="radio" id="expert" name="mode" value="expert"> <label for="expert">Expert</label></span>
      </div>
      <button  class="button-19" id="join_public">Jouer une partie publique</button>
      <button class="button-19" id="create_local">Jouer une partie locale</button>
      <button class="button-19" id="create_private">Créer une partie pivée</button>
      <form>
        <input id="room" type="text" oninput="this.value = this.value.toUpperCase()">
        <button class="button-19" type="submit" id="join_private">Rejoindre une partie privée</button>
      </form>      
    </main>
    <footer>
      QUARTO! est un jeu de plateau pour 2 joueurs inventé par Blaise Müller et distribué par <a  target="_blank" href="http://www.gigamic.com">Gigamic</a>.
    </footer>
  </body>
</html>