<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<main>
    <div>Cette partie n'existe pas/plus</div>
    <a href="/" class="text-decoration-none button-19">retour menu</a>
</main>
</body>
</html>