<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    Cette partie n'existe pas/plus
      <a href="/"><button>return menu</button></a>
  </body>
</html>