<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<main>
    <div>Cette partie n'existe pas/plus</div>
    <a href="/" class="text-decoration-none">
        <button class="button-19" id="retour_menu">retour menu</button>
    </a>
</main>
</body>
</html>