<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="style/game.css" type="text/css">
    <%- include('../partials/head'); %>
    <script defer src="js/rules.js"></script>
    <script defer type="text/javascript" src="js/animation_jeu.js"></script>
    <script defer type="text/javascript" src="js/creation_elements_jeu.js"></script>
    <% if (type === "local") { %>
        <script defer src="js/local_game.js"></script>
    <% } else{ %>
        <script  type="text/javascript" src="js/alertify.js"></script>
        <link rel="stylesheet" href="style/alertify.css" type="text/css">
        <script defer src="js/socket_chat.js"></script>
    <% } %>
</head>
<body>
<% if (type !== "local") { %>
    <div id="loader" class="centre">
        <img id="gif_loading" src="gif/loader.png" alt="chargement en cours"/>
        <div id="message">En attente du 2eme joueur</div>
    </div>
<% } %>
<header>
    <div class="column-header">QUARTO!
        <div id="bouton_règles" class="règles button-19">Règles</div>
    </div>
    <div id="centre_header">
        <div class="centre">
            <div id="nickname">Bienvenue au QUARTO!</div>
            <div id="action">
                <div>
                    <a href="/" class="text-decoration-none button-19">retour menu</a>
                </div>
            </div>
        </div>
        <div id="piece-to-place"></div>
    </div>
    <div id="mode_jeu">mode <%= mode %></div>
    <%- include('../partials/rules'); %>
</header>
<main class="static">
    <div id="jeu">
        <div id="pieces">
            <div id="pieces_blanc"></div>
            <div id="pieces_noir"></div>
        </div>
        <div id="plateau">
            <table></table>
        </div>
    </div>
</main>
<%- include('../partials/footer'); %>
</body>
</html>