<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
    <script defer type="text/javascript" src="js/animation_jeu.js"></script>
    <script defer type="text/javascript" src="js/creation_elements_jeu.js"></script>
    <% if (type === "local") { %>
        <script defer src="js/local_game.js"></script>
    <% } else{ %>
        <script defer src="js/socket_chat.js"></script>
    <% } %>
</head>
<body>
<% if (type !== "local") { %>
    <div id="loader">
        <div id="gif_loading"><img src="gif/loader.png"></div>
        <div id="message">En attente du 2eme joueur</div>
    </div>
<% } %>
<header>
    <div id="gauche_header">QUARTO!
        <div id="bouton_règles" class="règles">Règles</div>
    </div>
    <div id="centre_header">
        <div id="nickname">Bienvenue au QUARTO!</div>
        <div id="action">
            <div id="mode_classique">Jouer mode classique</div>
            <div id="mode_expert">Jouer mode expert</div>
        </div>
        <div class="choix_nickname centre">
            <label for="nicknameJ1">Nom Joueur 1:</label>
            <input type="text" name="nicknameJ1" id="nicknameJ1" spellcheck="false">
            <input type="color" id="colorJ1" name="colorJ1" value="#ff0000">
        </div>
        <div class="choix_nickname centre">
            <label for="nicknameJ2">Nom Joueur 2:</label>
            <input type="text" name="nicknameJ2" id="nicknameJ2" spellcheck="false">
            <input type="color" id="colorJ2" name="colorJ2" value="#0000ff">
        </div>
    </div>
    <div id="mode_jeu">mode <%= mode %></div>
    <div id="règles_jeu" class="règles centre">
        <div>Mode classique:</div>
        <div>Un joueur fait QUARTO et gagne la partie lorsque, en plaçant la pièce donnée,</div>
        <div>il crée une ligne verticale, horizontale ou diagonale avec</div>
        <div>4 pièces ayant au moins 1 caractère en commun (taille, forme, color, percée ou non)</div>
        <br>
        <div>Mode expert:</div>
        <div>4 pièces ayant au moins 1 caractère en commun formant un carré permet également de gagner</div>
    </div>
</header>
<div id="jeu">
    <div id="pieces">
        <div id="pieces_blanc"></div>
        <div id="pieces_noir"></div>
    </div>
    <div id="plateau">
        <table></table>
    </div>
</div>
<footer>
    QUARTO! est un jeu de plateau pour 2 joueurs inventé par Blaise Müller et distribué par <a target="_blank"
                                                                                               href="http://www.gigamic.com">Gigamic</a>.
</footer>
</body>
</html>